* {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
}

button {
  display: inline-flex;
  align-items: center;
}

.closeButton {
  position: absolute;
  right: 83%;
  top: 10px;
  color: #3a57e8;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 4px;
  cursor: pointer;
}

.closeButton:hover {
  color: #FFFFFF;
  background-color: #3A57E8;
  transition: 0.25s;
}

.Logo {
  width: 12.5vw;
  align-self: center;
  margin: 20px 0;
}

button img {
  width: 42px;
  margin: 0;
  align-self: flex-start;
}

.SideBar {
  width: 18vw;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Static-SideBtn {
  width: 14vw;
  height: fit-content;
  color: #fff;
  padding: 5px 10px;  
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #3a57e8;
  overflow: hidden;
  border: 2px solid #3a57e8;
  gap: 20px;
}

.Sliding-SideBtn {
  width: 14vw;
  height: fit-content;
  color: #fff;
  padding: 5px 10px;  
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #3a57e8;
  color: #3a57e8;
  gap: 20px;
}

.Sliding-SideBtn:hover {
  color: #fff;
}

.Sliding-SideBtn:hover:after {
  width: 100%;
}

.Sliding-SideBtn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #3a57e8;
}

.FloatingWindow {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: fit-content;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.FloatingWindow h2 {
  padding-top: 20px;
  width: fit-content;
  margin: 0 auto;
  text-decoration-line: underline;
}

.FloatingWindow h2 {
  color: #3a57e8 !important;
}

.FloatingWindow.slide-in {
  display: block !important;
  animation: slideIn 0.5s forwards;
}

.FloatingWindow input {
  width: 40vw;
  height: 30px;
}

.FloatingWindow::-webkit-scrollbar {
  display: none;
}

.floating-windows {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.FirstForm {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    padding: 10px;
    gap: 8px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #3a57e8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  align-self:center;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 